 @media(max-width:768px){
    .main{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .main .image-principal img{
        width: 100%;
    }
    .title{
        font-size: 26px !important;
    }
    .social{
        margin: 30px auto;
    }
 }